<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title> NASA </title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    </nav> -->
    
    <div class="container">

        <h1>NASA Images</h1>

        <div class="card-columns" id="display">

            <p> Launching into space... </p>

            <div class="card">

                <img class="card-img-top" src='https://www.vancouvertrails.com/blog/wp-content/uploads/2019/10/1-z.jpg' alt=\'\'>

                <!-- Body -->
				<div class="card-body mx-auto">
                    This is the card body ajelkawjfla;jfel
                    <!-- <i class="bi bi-suit-heart"></i>
                    <i class="bi bi-suit-heart-fill"></i> -->


                    <button type="button" class="btn btn-like shadow-none unliked">
                        <i class="bi bi-suit-heart-fill"></i>
                    </button>


                </div>
            </div>

            <div class="card">
                <div class="card-header">
                Quote
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src='https://www.vancouvertrails.com/blog/wp-content/uploads/2019/10/1-z.jpg' alt=\'\'>
                
                <div class="card-body">
                    <p class="card-text text-center"><h4>Image</h4></p>
                    <button type="button" class="btn btn-like shadow-none unliked">
                        <i class="bi bi-suit-heart-fill"></i>
                    </button>
                </div>
            </div>
    
        </div>
    </div>

    <!-- Scripts -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/script.js"></script>

</body>

</html>